doctype html 
html 
    head 
        include /components/css.pug
    body 
        .ticket 
            .holes-top
            if (banner)
                .banner
                    img(src=banner)
            .title 
                p.greeting=`Hi, ${name}!`
                p.campaign-name=campaignName
            .holes-lower
            .coupon#js-container
                .code-container(style={visibility: 'hidden'})
                    code#code
                canvas#js-canvas.scratch-area

        a#btn(href='#', style={visibility: 'hidden'}, onclick='claim()') 
            div#claim= claimButton

        include /components/js.pug
        include /components/code.pug
        